body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0;
    color: black; 
    background-color: whitesmoke;
}
.main
{
    width: 90%;
    height: auto;
    margin:50px auto;
    
}
.first
{
    width: 40%;
    height: 621px;
    float: left;
    background-color: rgb(40, 44, 52);
    border-radius:30px 0px 0px 30px;
    
}
.second
{
    width: 60%;
    height: 621px;
    float: right;
    background-color: white;
    border-radius:0px 30px 30px 0px;
}
h1
{
    color: white;
    font-size: 45px;
    margin-top: 220px;
    margin-left:25%;
}
.lg
{
    color: white;
    font-family: serif;
    margin-left:32%;
}
.sgn
{
    margin-left:33%;
    margin-top: 40px;
    color: white;
    background-color: chartreuse;
    border:1px solid black;
    font-family: cursive;
    font-size:20px;
    width: 180px;
    height: 50px;
    border-radius: 20px;
}
.create
{
    color: chartreuse;
    margin-left:33%;
    margin-top: 70px;
    font-family: "Trebuchet MS", sans-serif;
}
.container
{
    width: 50%;
    position:relative;
    float:left;
    margin-left: 28%;
    margin-top: 50px;
}
.pd
{

    margin:10px 5px;
    padding: 10px;
    width: 80%;
    background-color: whitesmoke;
    border:1px solid black;
    border-radius: 5px;
}
.pds
{
    margin-left: 29%;
    padding: 10px;
    border-radius: 10px;
    width: 140px;
    margin-top: 30px;
    border:1px solid black;
}